.sing-in{
   margin-left: 12%; 
   width: 50%;
   display: flex;
   flex-direction: column;
   .titel{
    margin: 10px 0;
}
   h2{
       font-size: 32px;
       font-weight: bold;
       }
   h5{
       color :rgb(160, 160, 160);
       font-size: 15px;
   }

}