.cart-shop{
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  

    .shoping-icon{
        width: 25px;
        height: 25px;
    }
    .item-count{
        position: absolute;
        font-size: 13px;
       font-weight: bold;
        bottom: 12px;
    }
}